.onehundred {
    width: 225px;
    position: relative;
    margin:auto;

}

.logodiv {
    width: 230px;
    height: 280px;
    margin: auto;
    position: relative;
    left: 14px;
}

.onetop {
    width: 23px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    background-color: white;
    top: 43px;
    left: -18px;
    transform: rotate(49deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.one {
    background-color: white;
    width:25px;
    height: 100px;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 3;
    position: relative;
}

.zero {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    left: -5px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.firstZ {
    z-index: 1;
}

.secondZ {
    left: -15px;
    z-index: 0;
}

.hole {
    background: linear-gradient(43deg, #b193ff, #7741fe);
    width: 60px;
    height: 60px;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    position: relative;
   
}

.underlogo {
    font-size: 2.7rem;
    position: relative;
    left: -15px;
    top: -20px;
}

.underlogo h1 {
    margin: 0
}

.underdays {
    font-size: .8rem;
    position: relative;
    left: -15px;
    top: -50px;
}
.underdays h2 {
    margin: 0;
}